Datasets

# Global Superstore Sales
Global_Superstore_Sales/icons_global_superstore
Global_Superstore_Sales/themes_global_superstore

# pokedex
Pokedex/venv
Pokedex/themes_pokedex
Pokedex/requirements.txt
Pokedex/pokedex_imageDB.py